<section class="phx-hero">
  <h1><%= gettext "Let %{name} shorten your links!", name: "urlboi" %></h1>
  <%= render "form.html", Map.put(assigns, :action, Routes.page_path(@conn, :create)) %>
</section>